@using System
@model Web.ViewModels.Credit.AllCreditClientViewModel

@{
  ViewData[index: "Title"] = "Список кредитов";
}

@if(User.IsInRole(role: "Client"))
{
  <a class="btn btn-primary mb-3" asp-controller="Credit" asp-action="TakeCreditForm"
     asp-route-idClient="@Model.IdClient">
	  Оформить кредит
  </a>
}

<div class="card-columns">
	@foreach(Credit credit in Model.Credits)
	{
	  <div class="card border-dark mb-3" style="width: 250px; height: 230px">
		  <!-- Шапка (bg-primary - цвет фона, text-white - цвет текста) -->
		  <div class="card-header text-center text-white bg-primary">
			  <span>Счет № @credit.IdAccount</span>
		  </div>
		  <div class="card-body">
			  <div class="card-text">Валюта: @credit.IdAccountNavigation.IdCurrencyNavigation.Name</div>
			  <div class="card-text">Текущий процент: @credit.PercentCredit</div>
			  <div class="card-text">
				  Статус:
				  @if(credit.Status)
				  {
				    <span class="text-success">Активный</span>
				  } else
				  {
				    <span class="text-danger">Закрытый</span>
				  }
			  </div>

			  Сумма:
			  <span class="badge badge-pill mb-4 bg-success">
				  <span>@credit.Amount</span>
			  </span>
			  <div class="text-center">

				  <a class="btn btn-primary" asp-controller="Operation" asp-action="Index" asp-route-id="@credit.IdAccount">Просмотреть</a>

			  </div>
		  </div>
	  </div>
	}
</div>