@using System
@model Web.ViewModels.Admin.EditUserViewModel


<div>

	<img class="card-img-top" src="/Files/@Html.DisplayFor(expression: model => model.PhotoPath)" alt="@Html.DisplayFor(expression: model => model.PhotoPath)"/>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(expression: model => model.UserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(expression: model => model.UserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(expression: model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(expression: model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(expression: model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(expression: model => model.PhoneNumber)
		</dd>


	</dl>


</div>
<div>
	<a asp-action="ManagerList">Вернуться к списку</a>
</div>