@using System
@model Web.ViewModels.AccountOperationViewModel

@{
	ViewData[index: "Title"] = "Выписка по счёту";
}


<div class="row">


    @* <div class="col-md-3 mr-3"> *@

    @* <input asp-action="Index" type="date" asp-format="{0:MM/dd/yyyy}" class="form-control datepicker-dropdown" *@
    @* asp-for="@ViewData["DateValue"]" *@
    @* asp-route-dateValue="@ViewData[index: "DateValue"]"> *@


    @* <a asp-action="Index" asp-route-sortOrder="@ViewData[index: "DateSortParm"]"> *@
    @* @Html.DisplayNameFor(expression: model => model.OperationTime) *@
    @* </a> *@
    @* / *@
    @* </div> *@


    <div class="col-md-3 ">
        <form asp-controller="Operation" asp-action="Index" method="get">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="StartPeriod" class="control-label"></label>
                    <input asp-for="StartPeriod" type="date" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label asp-for="EndPeriod" class="control-label"></label>
                    <input asp-for="EndPeriod" type="date" class="form-control"/>
                </div>
            </div>


            <input type="submit"/>
        </form>
    </div>


    <div class="col-md-6">

        <table class="table table-responsive table-bordered ">
            <thead>
            <tr>
                <th>
                    Время
                </th>
                <th>
                    Тип
                </th>
                <th>
                    Сумма
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.Operations)
            {
	            <tr>
                    <td>
                        @Html.DisplayFor(expression: modelItem => item.OperationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(expression: modelItem => item.TypeOperation)
                    </td>
                    <td>
                        @Html.DisplayFor(expression: modelItem => item.Amount)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
