@model IEnumerable<BankAccount>

@{
    ViewData[index: "Title"] = "Доступные счета";
}

<a class="btn btn-primary mb-3" asp-controller="BankAccount" asp-action="CreateClientAccountForm"
   asp-route-idClient="@Model.">
    Открыть счет
</a>
<div class="card-columns">
    @foreach (var account in Model)
    {
        <div class="card border-dark mb-3" style="width: 250px; height: 230px">
            <!-- Шапка (bg-primary - цвет фона, text-white - цвет текста) -->
            <div class="card-header text-center text-white bg-primary">
                <span>Счет № @account.Id</span>
            </div>
            <div class="card-body">
                <div class="card-text">Валюта: @account.IdCurrencyNavigation.Name</div>
                <div class="card-text">Тип счета: @account.AccountType</div>
                <div class="card-text">
                    Статус:
                    @if (account.DateClose == null)
                    {
                        <span class="text-success">Активный</span>
                    } else
                    {
                        <span class="text-danger">Закрытый</span>
                    }
                </div>

                Сумма:
                <span class="badge badge-pill mb-4 bg-success">
                    <span>@account.Amount</span>
                </span>
                <div class="text-center">
                    <a class="btn @(account.DateClose == null ? "btn-primary" : "btn-danger disabled")"
                       asp-controller="Operation" asp-action="Index" asp-route-id="@account.Id">
                        Просмотреть
                    </a>
                </div>
            </div>
        </div>
    }
</div>
