@using System
@model IEnumerable<Client>

@{
	Layout = "_Layout";
	ViewData[index: "Title"] = "Клиенты";
}

<p>
    <a asp-action="CreateClient">Добавить нового клиента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Логин
            </th>
            <th>
                Адрес
            </th>
            <th>
                Телефонный номер
            </th>
            <th>
                Тип субъекта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
	    <tr>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.TelNumber)
            </td>
            @if (item.PhysicalPerson != null)
            {
                <td>Физическое лицо</td>
            } 
            else
            {
                <td>Юридическое лицо</td>
            }
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
            <a asp-controller="BankAccount" asp-action="GetAccounts" asp-route-idClient="@item.Id">Просмотреть счета</a> 
        </td>
            </tr>
    }
    </tbody>
</table>