@model IEnumerable<ApplicationCore.Entity.Client>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Клиенты</title>
</head>
<body>
<p>
    <a asp-action="Create">Добавить нового клиента</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Логин
        </th>
        <th>
            Адрес
        </th>
        <th>
            Телефонный номер
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>