@using System
@model IEnumerable<Client>

@{
	Layout = "_Layout";
	ViewData[index: "Title"] = "Клиенты";
}

<p>
    <a asp-action="CreateClient" class="btn btn-secondary">Добавить нового клиента</a>
</p>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">
                Логин
            </th>
            <th scope="col">
                Адрес
            </th>
            <th scope="col"> 
                Телефонный номер
            </th>
            <th scope="col">
                Тип субъекта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.TelNumber)
            </td>
            @if (item.PhysicalPerson != null)
            {
                <td>Физическое лицо</td>
            } 
            else
            {
                <td>Юридическое лицо</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                <a asp-controller="BankAccount" asp-action="GetAccounts" asp-route-idClient="@item.Id">Просмотреть счета</a> 
            </td>
        </tr>
        <tr scope="row">
            <td colspan="5" class="d-flex justify-content-end">
                <a class="" asp-controller="Credit" asp-action="AllCredits" asp-route-idClient="@item.Id">Кредиты</a> |
                <a class="" asp-controller="Deposit" asp-action="" asp-route-id="@item.Id">Депозиты</a>
            </td>
        </tr>
    }
    </tbody>
</table>