@using System
@using Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(principal: User))
    {
        <li class="nav-item d-sm-flex dropdown">

            <a class="nav-link d-sm-none d-md-block text-light" asp-area="Identity" asp-page="/Account/Manage/Index">
                Мой аккаунт
            </a>


            @*<div class="dropdown-menu d-sm-flex  d-md-block text-center flex-sm-column  ">
                                <div class="nav-item d-sm-none d-md-block">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar rounded-circle w-50 h-50">
                                </div>

                                $1$ <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль</a> #1#
                $1$                 <div class="nav-item"> #1#
                $1$                     <form class="form-inline justify-content-center" asp-area="Identity" asp-page="/Account/Logout" #1#
                $1$                           asp-route-returnUrl="@Url.Action(action: "Index", controller: "Home", values: new #1#
                $1$                                                { #1#
                $1$ 	                                               area = "" #1#
                $1$                                                })" method="post"> #1#
                $1$                         <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button> #1#
                $1$                     </form> #1#
                $1$                 </div> #1#
                            </div>*@

        </li>

            @*         @*<li class="nav-item"> *@
            @* *@

        <div class="nav-item d-sm-flex d-md-none">

            <form class="form-inline justify-content-start"^ asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action(action: "Index", controller: "Home", values: new
                                       {
                                           area = ""
                                       })" method="post">
                <button type="submit" class="nav-link btn btn-link text-light">Выйти</button>
            </form>
        </div>
    } else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }

    @*         @if (User.IsInRole("Administrators"))  *@
    @*          {  *@
    @*              <form asp-route-returnUrl="@Url.Action("Index","Admin",new  *@
    @*                                         {  *@
    @*                                             area = ""  *@
    @*                                         })" > *@
    @*                 </form> *@
    @*              <li class="nav-item">  *@
    @*                  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>  *@
    @*              </li>  *@
    @*              <li class="nav-item">  *@
    @*                  <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Admin", new  *@
    @*                                                                                                                {  *@
    @*                                                                                                                    area = ""  *@
    @*                                                                                                                })">  *@
    @*                      <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>  *@
    @*                  </form>  *@
    @*              </li>  *@
    @*   *@
    @*          }  *@
</ul>